@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&family=Poppins&display=swap');
:root{
    --primary-color: #10b981;
    --dark-gray: #1f293778;
    --light-gray: #f5f5f5;
}
body{
    font-family: 'Poppins', sans-serif;
    max-width: 80%;
    width: 100%;
    margin: auto;
}
p{
    font-family: 'oxygen', sans-serif;
    text-align: center;

}

h1, h2, h3 {
text-align: center;
}

h1{
    font-size: 2em;
}

hr{
   
    border: none;

}

.navigation{
    background: var(--primary-color);
    width:100%;
    margin: auto;
    /* display: flex;
    flex-wrap: wrap;
    align-items: end !important; */
    border-bottom-right-radius: 1.5rem;
    border-top-left-radius: 1.5rem;
    padding: 1rem ;
    box-shadow: 0 0 10px rgba(0,0,0,.15);
}

.nav-brand{
    font-size: 1.1rem;
    font-weight: bold;
    color: white;
    /* padding: 1rem 0 0 1rem; */
  
}

.list-unordered{
    margin: auto;
    list-style: none;
    text-align: end;
    padding-inline-start: 0px;
    /* padding-bottom: 1rem; */
    
}

.list-inline{
    display: inline;
    padding-right: 1.5rem;
    
}

.list-inline .link{
    text-decoration: none;
    color: white;

}

.list-active{
    font-weight: bold;
}

.hero-img{
    display: block;
    width: 440px;
    max-width: 100%;
    margin: auto;
    padding: 3rem 0 0 0;
}

.head-title{
    color: var(--dark-gray);
}

.btn{
    border: solid 1px var(--primary-color);
    border-radius: 18px;
    margin:auto;
    display: block;
    max-width: 120px;
    text-align: center;
    width: 100%;
    text-decoration: none;
    padding: 0.4rem 0.4rem 0.4rem 0.4rem;
}
.btn-link{
    background: var(--primary-color);
    color:white;
}
.btn-link1{
   color: var(--primary-color);
}


.gray-bg{
    background-color: var(--light-gray);
}
section{
    padding: 2rem;
    border-radius: 25px;
}


.footer-brand{
font-weight: bold;
color: white;
font-size: 20px;
text-align: center;
}


.footer-nav > .navigation{
    border-top-right-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
    padding: 1.5rem 0;
}

.footer-nav > .navigation > .list-unordered{
    display: block ;
    text-align: center;
}
.navigation > .footer-brand{
    margin: 0.5rem auto;
}

footer{
    margin-top: 2rem;
} 
.project-btns > .btn{
    margin: 1rem;
}
.project-btns{
    display: flex;
    justify-content: center;
}