@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&family=Poppins&display=swap');
:root{
    --primary-color: #10b981;
    --dark-gray: #1f2937;
}
body{
    font-family: 'Poppins', sans-serif;
    
}
p{
    font-family: 'oxygen', sans-serif;
}

.navigation{
    background: var(--primary-color);
    margin: auto;
}
.navigation .nav-brand{
    padding: 1rem, 1rem;
    font-size: 1.1rem;
    font-weight: bold;
    color: white;
}

.list-unordered{
    margin: auto;
    list-style: none;
}